In [1]:
# To print only even number 

x = 4
r = x % 2 

if r == 0:
    print('Even number')

Even number

In [2]:
x = 5
r = x % 2 

if r == 0:
    print('Even number')

In [3]:
x = 5
r = x % 2 

if r == 0:
    print('Even number')
    
print('odd number')

odd number

In [4]:
x = 8
r = x % 2 

if r == 0:
    print('Even number')
    
print('odd number')

Even number
odd number

In [5]:
x = 5
r = x % 2 

if r == 0:
    print('Even number')
if r == 1:
    print('odd number')

odd number

In [6]:
x = 5
r = x % 2 

if r == 0:
    print('Even number')
if r != 0:
    print('odd number')
if r == 1:
    print('odd number')

odd number
odd number

In [7]:
x = 11
r = x % 2 

if r == 0:
    print('Even number')
else:
    print('odd number')

odd number

In [8]:
x = 10
r = x % 2 

if r == 0:
    print('Even number')
else:
    print('odd number')

Even number

In [9]:
x = 3
r = x % 2

if r == 0:
    print('Even number')
    
    if x>5:
        print('greater number')
  
else:
    print('Odd Number')

Odd Number

In [10]:
x = 4
r = x % 2

if r == 0:
    print('Even number')
    
    if x>5:
        print('greater number')
  
else:
    print('Odd Number')

Even number

In [11]:
x = 4
r = x % 2

if r == 0:
    print('Even number')
    
    if x>5:
        print('greater number')
   
    else:
        print('smaller number')
else:
    print('Odd Number')

Even number
smaller number

In [12]:
x = 1

if x == 1:
    print('one')
if x == 2:
    print('Two')
if x == 3:
    print('Three')
if x == 4:
    print('four')

one

In [13]:
x = 4

if x == 1:
    print('one')
elif x == 2:
    print('Two')
elif x == 3:
    print('Three')
elif x == 4:
    print('four')

four

In [14]:
x = 5

if x == 1:
    print('one')
    
elif x == 2:
    print('Two')
elif x == 3:
    print('Three')
elif x == 4:
    print('four')

else:
    print('number not found')

number not found

In [15]:
print('data science')
print('data science')
print('data science')
print('data science')    
print('data science')

data science
data science
data science
data science
data science

In [16]:
i = 1          # initializing

while i<=5:    # condition
    print('data science')
    i = i + 1  # increment

data science
data science
data science
data science
data science

In [17]:
i = 5          # initializing

while i>=1:    # condition
    print('data science')
    i = i - 1  # increment

data science
data science
data science
data science
data science

In [18]:
i = 1         # initializing
while i<=5:    # condition
    print('data science : ', i)
    i = i + 1  # increment

data science :  1
data science :  2
data science :  3
data science :  4
data science :  5

In [19]:
i = 5         # initializing
while i>=1:    # condition
    print('data science : ', i)
    i = i - 1  # increment

data science :  5
data science :  4
data science :  3
data science :  2
data science :  1

In [20]:
i = 1

while i<=5:
    print('data science') # when we mention end then new line will not create
    j = 1
    while j<=4:
        print('technology')
        j = j + 1
        
    i = i + 1
    print()

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

In [21]:
i = 1
while i<=5:
    print(' datascience', end = "") # when we mention end then new line will not create
    j = 1
    while j<=4:
        print(' technology', end="")
        j = j + 1
        
    i = i + 1
    print()

 datascience technology technology technology technology
 datascience technology technology technology technology
 datascience technology technology technology technology
 datascience technology technology technology technology
 datascience technology technology technology technology

In [22]:
i = 1

while i <= 2 :
    j = 0
    while  j <= 2 :
        print(i*j, end=" ")
        j += 1
    print()
    i += 1

0 1 2
0 2 4

In [23]:
i = 1
while i <= 4 :
    j = 0
    while  j <= 3 :
        print(i*j, end=" ")
        j += 1
    print()
    i += 1

0 1 2 3
0 2 4 6
0 3 6 9
0 4 8 12

# FOR LOOP  
- normally while loop it work with iteration or certaion some condition but for loop it will work with sequence (list, string,int)

In [1]:
name='nit'

for i in name:
    print(i)

n
i
t

In [2]:
name1=[1,2.3,'hello'] # i want to print the value individualy

for i in name1:
    print(i)

1
2.3
hello

In [3]:
for i in [2,3,4.3,'ji']:
    print(i)

2
3
4.3
ji

In [4]:
range(5) #give a range b/w 0-5

range(0, 5)

In [5]:
for i in range(5):
    print(i)

0
1
2
3
4

In [6]:
for i in range(2,5):
    print(i)

2
3
4

In [7]:
for i in range(1,10,3):
    print(i)

1
4
7

In [8]:
# divisiable by 5
for i in range(1,21):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [9]:
for i in range(1,51):
    if i%5==0:
        print(i)

5
10
15
20
25
30
35
40
45
50

In [42]:
    # print the table of five

SyntaxError: f-string: expecting a valid expression after '{' (2857117118.py, line 2)

In [10]:
# do not divisible by 5
for i in range(1,51):
    if i%5!=0:
        print(i)

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19
21
22
23
24
26
27
28
29
31
32
33
34
36
37
38
39
41
42
43
44
46
47
48
49

# LETS DISCUSS ABOUT 3 KEYWORDS -- BREAK || CONTINUE || PASS
- BREAK STATEMNT - if you apply break statment in a loop then it will end the loop
- Pass = skips block of code( function, class etc)
- Continue= skips 1 step/iteration during loop 
- Break= jumps out of the function/loop

In [19]:
# write the code user ask chocolate from vendor machine write the basic code
x=int(input('how many chocolate you want:?'))

i=1
while i<=x:
    print('chocolate')
    i+=1

how many chocolate you want:? 2

chocolate
chocolate

In [18]:
if True:
    print("datascience")
print("bye")

datascience
bye

In [21]:
available_choclet = 0 # the machine has only 10 candis 

x = int(input('How many choclets user want:?'))

i = 1
while i<=x:
    
    if i>available_choclet: # we stop the execution but which code execution not entire code , i want to come out of while loop 
        break # break is statement | means jump out of the loop
    print('choclet')
    i += 1   
    
print('bye for now')

How many choclets user want:? 9

bye for now

In [24]:
available_choclet = 4 # the machine has only 10 candis 

x = int(input('How many chocolates user want:?'))

i = 1
while i<=x:
    
    if i>available_choclet: # we stop the execution but which code execution not entire code , i want to come out of while loop 
        print('out of stock')
        break # break is statement | means jump out of the loop
    print('chocolate')
    i += 1   
    
print('bye for now')

How many chocolates user want:? 23

chocolate
chocolate
chocolate
chocolate
out of stock
bye for now

In [25]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [26]:
for i in range(1,11):
    if i == 6:
       break 
    print(i)

1
2
3
4
5

In [32]:
for i in range(1,11):
    if i == 3 or i==4:
        continue 
    print(i)

1
2
5
6
7
8
9
10

In [33]:
for i in range(1,11):
    if i == 6:
        continue  
    print('hello :',i)

hello : 1
hello : 2
hello : 3
hello : 4
hello : 5
hello : 7
hello : 8
hello : 9
hello : 10

# PASS Statement 
- pass the code & it wont go ( code give you the error)

In [34]:
for i in range(1,11):  # gives syntax error

_IncompleteInputError: incomplete input (1593395653.py, line 1)

In [35]:
for i in range(1,11):
    pass

- you need to print the number from 1 to 50 but dont print the number which is divisible by 3 or 5

In [37]:
for i in range(51):
    if i%3==0 or i%5==0:
        continue
    print(i)
print('end')

1
2
4
7
8
11
13
14
16
17
19
22
23
26
28
29
31
32
34
37
38
41
43
44
46
47
49
end

In [52]:
# i dont want to print the values which are even numbers that means print
# only odd numbers
for i in range(1,100):
   if i%2==1:
       print(i,end=' ')
   else:print('Ram',end=' ')
print('bye')

1 Ram 3 Ram 5 Ram 7 Ram 9 Ram 11 Ram 13 Ram 15 Ram 17 Ram 19 Ram 21 Ram 23 Ram 25 Ram 27 Ram 29 Ram 31 Ram 33 Ram 35 Ram 37 Ram 39 Ram 41 Ram 43 Ram 45 Ram 47 Ram 49 Ram 51 Ram 53 Ram 55 Ram 57 Ram 59 Ram 61 Ram 63 Ram 65 Ram 67 Ram 69 Ram 71 Ram 73 Ram 75 Ram 77 Ram 79 Ram 81 Ram 83 Ram 85 Ram 87 Ram 89 Ram 91 Ram 93 Ram 95 Ram 97 Ram 99 bye

In [54]:
bin(12)

'0b1100'

In [1]:
a=[1,2,3,4,4]
print(a.append(5)) #in append function return function is not assign thats why its return none

None

In [4]:
def add(num1 , num2):
    return num1+num2

print(add(12,56))

68

In [18]:
srt='HARSH '
c=srt.lower()
d=0
for i in c:
    if i in 'aeiou':
        d=d+1
print(d)

1

TypeError: 'int' object is not iterable