In [1]:
age=25
print(age)

25

In [2]:
number=20
print(number-1)

19

In [3]:
# Sum of two numbers
a,b=23,20
sum=a+b
print(sum)

43

In [5]:
# Area of a Rectangle
lenght=45
width=76
area=lenght*width
print(area)

3420

In [6]:
# Area of a circle
radius=8.9
pi=3.14
area=radius**2*pi
print(area)

248.71940000000004

In [11]:
# string concatanation
a='Learning'
b=' is fun!'
print(a+b)

Learning is fun!

# Arithmatic Operators in python

In [3]:
print((3+2)) #addition(+)
print(3-2) #subtraction(-)
print(3*2) #multiplication(*)
print(3/2) #division(/)
print(3**2) #exponential(**)
print(3%2) #modulus(%)
print(3//2) #Floor division operator(//)

5
1
6
1.5
9
1
1

# Checking data types

In [4]:
print(type(10)) #int
print(type(2.12))#float
print(type(1+2j)) #complex
print(type(3e2)) #float
print(type('str')) #string
print(type([1,2,3])) #list
print(type({'r':202})) #dictionary
print(type((2,3,4))) #tuple
print(type({3.4,2.3,23})) #set
print(type(3==3)) #boolean
print(type(3 >=3)) #bolean

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'dict'>
<class 'tuple'>
<class 'set'>
<class 'bool'>
<class 'bool'>

# STRING : CHARACTER

In [5]:
# single line comment 
letter='p' # a string could be a single character or bunch of texts
print(letter) #print() :- display the values of the elements
print(len(letter)) #len() :- return the length of element
greeting ='Hello,World!' # a string coule have single or double quotes
print(greeting)
print(len(greeting))
sentence="I hope you are enjoying 30 days of python challange" #it is a single line string
print(sentence)

p
1
Hello,World!
12
I hope you are enjoying 30 days of python challange

# Multiline String

In [6]:
multiline_string='''I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created 30 days of Python.'''
print(multiline_string)

I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created 30 days of Python.

In [8]:
# Another way of doing same thing
multiline_string="""I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created 30 days of Python."""
print(multiline_string)

I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created 30 days of Python.

# String Concatenation

In [14]:
first_name="Ram"
last_name='Sevaiwar'
space=' '
full_name=first_name+space+last_name
print(full_name)

# Checking length of a string using len() builtin function
print(len(first_name))
print(len(last_name))
print(len(first_name) > len(last_name))
print(len(full_name))

Ram Sevaiwar
3
8
False
12

# Unpacking characters

In [16]:
language='Python'
a,b,c,d,e,f=language # unpacking sequence of character into variables
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

P
y
t
h
o
n

# Accessing characters in strings by index

In [18]:
print(language)
first_letter=language[0]
print(first_letter)
second_letter=language[1]
print(second_letter)
last_index=len(language)-1
last_letter=language[last_index]
print(last_index)
print(last_letter)

Python
P
y
5
n

# Slicing

In [19]:
print(language)
first_three=language[0:3]
last_three=language[-3:]
print(first_three)
print(last_three)
All_letter=language[:] or language[::]
print(All_letter)

Python
Pyt
hon
Python

# Steps Slicing
Skipping characters while splitting Python string

In [20]:
print(language)
pto=language[0:6:2]
print(pto)

Python
Pto

# Escape sequence

In [21]:
print('I hope everyone enjoying the python challenge. \nDo you?') #line break
print('Days\tTopics\tExercise')
print('Day 1\t3\t5') #creating a table structure
print('Day 2\t3\t5')
print('Day 3\t3\t5')
print('Day 4\t3\t5')
print('This is a back slash symbol(\\)') # To write back slash
print('In every programing it starts with \"Hello,World!\"')

I hope everyone enjoying the python challenge.
Do you?
Days	Topics	Exercise
Day 1	3	5
Day 2	3	5
Day 3	3	5
Day 4	3	5
This is a back slash symbol(\)
In every programing it starts with "Hello,World!"

# String Methods
Capitalize():Converts the first character the string to Capital Letter

In [4]:
challenge='thirty days of python'
print(challenge.capitalize())

Thirty days of python

# Count():
**returns occurrence of substring in string, count(substring, start=..,end=..)**

In [23]:
print(challenge)
print(challenge.count('y'))
print(challenge.count('y',7,14)) #start with 7 and ends with 13 index
print(challenge.count('th'))

thirty days of python
3
1
2

# Endwith()
**Checks if a string ends with a specified characters**

In [25]:
print(challenge)
print(challenge.endswith('on')) 
print(challenge.endswith('tion'))

thirty days of python
True
False

# Expandtabs()
**Replaces tab character with spaces, default tab size is 8. It takes tab size argument**

In [2]:
challange='thirty\tdays\tof\tpython'
print(challange.expandtabs())
print(challange.expandtabs(10)) #starts expanding after 10 index

thirty  days    of      python
thirty    days      of        python

# Find()
**returns the index of first occurrence of substring**

In [32]:
print(challenge)
print(challenge.find('y'))
print(challenge.find('th'))

thirty days of python
5
0

# format()
**formats string into nicer output(nice way of presentation)**

In [36]:
print(first_name)
print(last_name)
job='student'
country='India'
sentence='I am {} {}.I am {}. I live in {}.'.format(first_name,last_name,job,country)
print(sentence)

Ram
Sevaiwar
I am Ram Sevaiwar.I am student. I live in India.

In [39]:
radius=10
pi=3.14
area=radius**2*pi
result='The area of circle with radius {} is {}.'.format(str(radius),str(area))
print(result)

The area of circle with radius 10 is 314.0.

# Index()
**returns the first occurrence index of substring**

In [5]:
print(challenge)
print(challenge.index('y'))
print(challenge.index('th'))
print(challenge.index('ys'))

thirty days of python
5
0
9

# Isalnum()
**Checks alphanumeric character**
A string is alpha-numeric if all characters in the string are alpha-numeric and
there is at least one character in the string

In [43]:
challenge='ThirtyDaysPython'
print(challenge.isalnum())

True

In [44]:
challenge='30DaysPython'
print(challenge.isalnum())

True

In [45]:
challenge='thirty days of python'
print(challenge.isalnum())

False

In [48]:
challenge='thirty days of python 2019'
challenge.isalnum(1)

TypeError: str.isalnum() takes no arguments (1 given)

In [49]:
challenge='thirty days of python 2019'
challenge.isalnum()

False

# Isalpha()
**checks if all characters are alphabets**

In [65]:
challenge='thirtydaysofpython'
print(challenge.isalpha())
challenge='thirty days of python'
print(challenge.isalpha())
num='123'
print(num.isalpha())

True
False
False

# IsDecimal()
**checks decimals characters**

In [10]:
print(challenge)
print(challenge.isdecimal())
deci='1,2,3,4.3'
d='10.20,2.1,3.2'
e='1'
print(e.isdecimal())
print(deci.isdecimal())
print(d.isdecimal())
print(e.isdecimal())

thirty days of python
False
True
False
False
True

# Isdigit()
**checks digit characters**

In [14]:
challenge='Therty'
print(challenge.isdigit())
num='0'
print(num.isdigit())

False
True

# IsIdentifier()
** Checks for valid identifier means it check if a string valid variable name**

In [5]:
challenge='20daysofpython'
print(challenge.isidentifier()) #because it starts with 20
challenge='thirty_days_of_python'
print(challenge.isidentifier())

False
True

# IsLover()
**Checks if all alphabets in a string are lowercase**

In [7]:
challenge='thirty days of python'
print(challenge.islower())
challenge='Thirty days of python'
print(challenge.islower())

True
False

# IsUpper()
**Returns if all characters are uppercase characters**

In [9]:
challenge='thirty days of python'
print(challenge.isupper())
challenge='THIRTY DAYS OF PYTHON'
print(challenge.isupper())

False
True

# IsNumeric()
** checks numeric characters**

In [10]:
num='102'
print(num.isnumeric())
print('ten'.isnumeric())

True
False

# Join()
**Returns a concatenated string**

In [20]:
web_tech=['HTML','CSS','JavaScript','React']
result=' language, '.join(web_tech) #join the list #
l=' '.join(web_tech)
print(result)
print(l)

HTML language, CSS language, JavaScript language, React
HTML CSS JavaScript React

# strip() 
**Return a copy of the string with trailing whitespace removed**

In [24]:
challenge='    thirty    days of python' #i have problem
print(challenge.strip('y'))
print(challenge.rstrip('y'))
print(challenge.lstrip('y'))

    thirty    days of python
    thirty    days of python
    thirty    days of python

# Lstrip()
Return a copy of the string with leading whitespace removed.

In [29]:
print(challenge)
print(challenge.lstrip())
print(challenge)

    thirty    days of python
thirty    days of python
    thirty    days of python

# Replace()
**Replaces substring inside**

In [19]:
challenges='thirty days of python'
print(challenges.replace('python','coding'))
print(challenges)

thirty days of coding
thirty days of python

# Split()
**Splits string from left**

In [24]:
challenge='thirty days of python'
print(challenges.split()) #split text into list

['thirty', 'days', 'of', 'python']

# Title()
**Returns a Title Cased Sting**

In [25]:
challenge='thirty days of python'
print(challenge.title()) #capatalize the text all starting character

Thirty Days Of Python

# Swapcase()
**Change the string charaters case of text**

In [27]:
challenges='thirty days of python'
print(challenges.swapcase()) #change the case of text
challenge='Thirty days of Python'
print(challenge.swapcase())

THIRTY DAYS OF PYTHON
tHIRTY DAYS OF pYTHON

# Startwith
**Checks if String Start with the Specified String**

In [30]:
challenges='thirty days of python'
print(challenges.startswith('thirty'))
challenge='30 days of python'
print(challenges.startswith)

True

# Python Variables

In [4]:
first_name="Ram"
last_name='Sevaiwar'
country="India"
city='Balaghat'
age=23
is_married=False
skills=['Python','MS Excel','PowerBI','ML','DS']
personal_info={
    'First_name':'JOhn',
    'last_name': 'styline',
    'country':'italy',
    'city':'milan'
}

# Printing the values stored in the variables

In [7]:
print('First name:', first_name)
print('First name length:', len(first_name))
print('Last name: ', last_name)
print('Last name length: ', len(last_name))
print('Country: ', country)
print('City: ', city)
print('Age: ', age)
print('Married: ', is_married)
print('Skills: ', skills)
print('Person information: ', personal_info)

First name: Ram
First name length: 3
Last name:  Sevaiwar
Last name length:  8
Country:  India
City:  Balaghat
Age:  23
Married:  False
Skills:  ['Python', 'MS Excel', 'PowerBI', 'ML', 'DS']
Person information:  {'First_name': 'JOhn', 'last_name': 'styline', 'country': 'italy', 'city': 'milan'}

# Declaring multiple variables in one line

In [8]:
first_name, last_name, country, age, is_married = 'prakash', 'senapati', 'Helsink', 250, True

print(first_name, last_name, country, age, is_married)
print('First name:', first_name)
print('Last name: ', last_name)
print('Country: ', country)
print('Age: ', age)
print('Married: ', is_married)

prakash senapati Helsink 250 True
First name: prakash
Last name:  senapati
Country:  Helsink
Age:  250
Married:  True

# PYTHON OPERATORS
**Python operators are special symbols used to perform operations on variables and values. They are grouped into categories such as arithmetic, assignment, comparison, logical, identity, membership, and bitwise operators.**

# 1.ARITHMETIC OPERATORS
- (+) → Addition (5 + 2 = 7)
- (-) → Subtraction (4 - 2 = 2)
- (*) → Multiplication (2 * 3 = 6)
- / → Division (4 / 2 = 2.0)
- // → Floor Division (10 // 3 = 3)
- % → Modulus (5 % 2 = 1)
- ** → Exponentiation (4 ** 2 = 16)

In [15]:
x,y=10,5
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x//y)
print(x%y)
print(x**y)

15
5
50
2.0
2
0
100000

# 2. Assignment Operators
Used to assign values to variables:
- = → Simple assignment (x = 5)
- += → Add and assign (x += 3)
- -= → Subtract and assign (x -= 2)
- *= → Multiply and assign (x *= 4)
- /= → Divide and assign (x /= 2)
- %= → Modulus and assign (x %= 3)
- **= → Exponentiation and assign (x **= 2)
- //= → Floor division and assign (x //= 2)

In [18]:
x += 2
x

14

In [19]:
x -= 2
x

12

In [12]:
print(x)
print(x += 2)
print(x -= 2)
print(x *= 2)
print(x /= 2)
print(x %= 2)
print(x **= 2)
print(x //= 2)

SyntaxError: invalid syntax (4032235463.py, line 2)

In [21]:
x %= 2
x

0

In [24]:
x=90
x **= 2
x

8100

In [25]:
x //= 2
x

4050

In [27]:
x *= 2
x

16200

In [28]:
x /= 2
x

8100.0

# 3. UNARY OPERATOR

In [29]:
N=7 #negation
N

7

In [30]:
m=-N
m

-7

# 4. Comparison Operators(Relational Operator)
Used to compare values:
- == → Equal to
- != → Not equal to
- (>) → Greater than
- (<) → Less than
- (>=) → Greater than or equal to
- <= → Less than or equal to

In [32]:
a,b=5,6

In [33]:
a<b

True

In [34]:
a>b

False

In [35]:
a==b

False

In [36]:
a !=b

True

In [37]:
a <=b

True

In [38]:
a>=b

False

In [39]:
a=b

In [40]:
a ==b

True

# 5. Logical Operators
Used to combine conditional statements:
- and → Returns True if both conditions are true
- or → Returns True if at least one condition is true
- not → Reverses the result (not True = False)

. No symbol equivalents:
- You cannot use &&, ||, or ! in Python.
- If you try, Python will throw a SyntaxError.

In [41]:
a,b=5,4

In [43]:
 a<8 and b<5

True

In [44]:
a<b or b>5

False

In [46]:
a<8 or a>6

True

In [52]:
y1= not False
y1

True

In [53]:
x1= not y1
x1

False

In [51]:
not False

True

# 6. Identity Operators
Used to compare memory locations:
- is → Returns True if both variables point to the same object
- is not → Returns True if they do not

# 7. Membership Operators
Used to check for membership in sequences:
- in → Returns True if a value is found in a sequence
- not in → Returns True if a value is not found

# 8. Bitwise Operators
Used to perform operations on binary numbers:
- & → AND
- | → OR
- ^ → XOR
- ~ → NOT (inverts bits)
- << → Left shift
- (>>) → Right shift