In [2]:
txt="  abc def ghi  "
txt.lstrip() # remove starting spaces from the char

'abc def ghi  '

In [1]:
txt="  abc def ghi  " # remove all spaces from start and end .it can't remove from the meedle
txt.strip()

'abc   def ghi'

# Using Escape Character

In [2]:
# Using double quates in the string is not allowed
mystr="My favourate TV Series is " Game of Trones""

SyntaxError: invalid syntax (3538973277.py, line 1)

In [4]:
# Using escape character to allow illegal characters
mytr="My favourate series is \"Game of Trones\""
mytr

'My favourate series is "Game of Trones"'

# List
1) list is an ordered sequence of items.
2) We can have different data types under a list.E.g we can have integer ,float and string it
items in a same list. This nature called Haterogenous.

# List Creation

In [5]:
list1=[] # empty list

In [7]:
print(type(list1))

<class 'list'>

In [8]:
list2=[10,20,30] #list of integers numbers

In [9]:
list3=[10.3,23.33,60.78] #list of float numbers

In [10]:
list4=['one','two','three'] #list of strings

In [11]:
list5=['Asif',25,[50,100],[150,90]] #Nested lists

In [12]:
list6=[100,'nit',17.322] # list of mixed(different) data types

In [14]:
list7=['david',23,[50,32],('john','rock'),{'jo','mohan'},{'a':1,'b':20}] # list of different data structure

In [16]:
len(list7) # lenght of list

6

# LIST INDEXNG 
1)Forward Indexing :- like 1,2,3,4.......
2)Backward Indexing :- like -1,-2,-3,-4.....

In [19]:
list2[0] #retrive first element of the list

10

In [1]:
list4[0]

NameError: name 'list4' is not defined

In [21]:
list4[0][0] #Nested indexing -Access the first character of the first list element

'o'

In [22]:
list4[-1] #Last item of the list

'three'

In [24]:
list5[-2]

[50, 100]

# LIST SLICING

In [2]:
mylist=['one','two','three','four','five','six','seven','eight']

In [4]:
mylist[0:3] # return all items from 0th to 2nd index locatoin excluding the item

['one', 'two', 'three']

In [23]:
print('hello Python')

hello Python

In [5]:
mylist[2:5] #all item from 2 to 4 index excluding item

['three', 'four', 'five']

In [6]:
mylist[:3] #return first three index items

['one', 'two', 'three']

In [7]:
mylist[:2]

['one', 'two']

In [8]:
mylist[-3:] #return last three index item

['six', 'seven', 'eight']

In [9]:
mylist[-2:]

['seven', 'eight']

In [10]:
mylist[-1] # return last index item of the list

'eight'

In [11]:
mylist[:] #return all index items of the list

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

# ADD,REMOVE & CHANGE

In [12]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [13]:
mylist.append('nine') # create a new index at last and add on the item
print(mylist)

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [14]:
mylist.insert(9,'ten') # add item at index location 9

In [15]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [16]:
mylist.insert(1,'ONE') # Insert object before index 1

In [17]:
print(mylist)

['one', 'ONE', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [18]:
mylist.remove('ONE') #remove item 'ONE'
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [19]:
mylist.remove('nine') #Remove first occurrence of value.
#Raises ValueError if the value is not present.

In [20]:
print(mylist)

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'ten']

In [21]:
mylist.pop() #remove last item of the list and return

'ten'

In [22]:
mylist.pop(8) #"""Remove and return item at index (default last).

#Raises IndexError if list is empty or index is out of range."""

IndexError: pop index out of range

In [ ]:
del mylist[7] #delete item at index  7

In [ ]:
print(mylist)

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'nine']

In [ ]:
# Updating value of the string

In [ ]:
mylist[0]=int(mylist[0]) #it should in numeric string type
mylist[1]=int(mylist[1])
mylist[2]=int(mylist[2])

ValueError: invalid literal for int() with base 10: 'one'

ValueError: invalid literal for int() with base 10: 'one'

In [ ]:
mylist[0]=1
mylist[1]=2
mylist[2]=3

In [ ]:
mylist

[1, 2, 3, 'four', 'five', 'six', 'seven', 'nine']

In [ ]:
mylist.clear() #Empty list / dalete all items in the list

In [ ]:
mylist

[]

In [ ]:
del mylist # delete the whole list
mylist

NameError: name 'mylist' is not defined

# COPY LIST

In [ ]:
mylist=['one','two','three','four','five','six','seven','eight','nine']

In [ ]:
mylist1=mylist # create a new reference 'mylist1'

In [ ]:
id(mylist),id(mylist1) # the address of both mylist &mylist1 will be same

(2758009701952, 2758009701952)

In [ ]:
mylist2=mylist.copy() # create a shallow copy of the list.

In [ ]:
id(mylist2) #the address of mylist2 will be different from mylist

2758009599744

In [ ]:
mylist[0]=1

In [ ]:
mylist

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [ ]:
mylist1 #mylist1 is assign as mylist so it also impacted as it is pointing to same list

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [ ]:
mylist2 #copy of  list won't be impacted due to changes made on the original list

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

# JOIN LISTS

In [ ]:
list1=['one','two','three','four']
list2=['five','six','seven','eight']

In [ ]:
list3=list1+list2 #Join two lists by '+' operator
print(list3)
print(id(list3),id(list2),id(list1))

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'five', 'six', 'seven', 'eight']
2758009651392 2758009129024 2758009306496

In [ ]:
list1.extend(list2) # append list2 with list1

In [ ]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

# list membership

In [ ]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [ ]:
'one' in list1 #check if 'one' exits in the list

True

In [ ]:
'ten' in list1

False

In [ ]:
if 'eleven' in list1: #check if 'eleven' exits in the list
    print('eleven is present in the list')
else:
    print('eleven is not present in the list')

eleven is not present in the list

# Reverse & Sort List

In [ ]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [ ]:
list1.reverse() # reverse the list
list1

['eight', 'seven', 'six', 'five', 'four', 'three', 'two', 'one']

In [ ]:
list1=list1[::-1] # reverse th list
list1

['eight', 'seven', 'six', 'five', 'four', 'three', 'two', 'one']

In [ ]:
mylist3=[2,43,421,33,331,344,55]
mylist3.sort() # sort list in ascending order
mylist3

[2, 33, 43, 55, 331, 344, 421]

In [ ]:
mylist3.sort(reverse=True) #sort list in decending order
mylist3

[421, 344, 331, 55, 43, 33, 2]

In [ ]:
list.sort()

In [ ]:
mylist4=[88,65,33,21,11,96]
sorted(mylist4) # return a new sorted list and doesn't change the original list

[11, 21, 33, 65, 88, 96]

In [ ]:
mylist4

[88, 65, 33, 21, 11, 96]

# loop through a list

In [ ]:
list1

['eight', 'seven', 'six', 'five', 'four', 'three', 'two', 'one']

In [ ]:
for i in list1:
    print(i)

eight
seven
six
five
four
three
two
one

In [ ]:
for i in enumerate(list1):
    print(i)

(0, 'eight')
(1, 'seven')
(2, 'six')
(3, 'five')
(4, 'four')
(5, 'three')
(6, 'two')
(7, 'one')

In [ ]:
for i in range(list1):
    print(i)

TypeError: 'list' object cannot be interpreted as an integer

# COUNT

In [ ]:
list10=['one','two','one','three','four','one','two','four']

In [ ]:
list10.count('one') # Return number of occurrences of value

3

In [ ]:
list10.count('three')

1

# ALL/ANY
# the all()method returns:
# .True- if all elements a list are true
# .False-if any elements in  a list is false
# the any() function returns True if any element in the list is True.If not,any() return False

In [ ]:
l1=[1,2,3,4,0]

In [ ]:
all(l1) #one value is false

False

In [ ]:
any(l1)

True

In [ ]:
l2=[1,22,32,43,'True',False]

In [ ]:
all(l2)

False

In [ ]:
any(l2)

True

In [ ]:
l3=[2,32,4,12,"jnjn",True]
all(l3)

True

In [ ]:
any(l3)

True

# step slicing

In [ ]:
list7

['david', 23, [50, 32], ('john', 'rock'), {'jo', 'mohan'}, {'a': 1, 'b': 20}]

In [ ]:
list7[0:10:2]

['david', [50, 32], {'jo', 'mohan'}]

In [ ]:
list7[::3]

['david', ('john', 'rock')]

In [ ]:
list7[::-1]

[{'a': 1, 'b': 20}, {'jo', 'mohan'}, ('john', 'rock'), [50, 32], 23, 'david']

In [ ]:
list7[-2::2]

[{'jo', 'mohan'}]

In [3]:
l=[1,2,3,444,55,32,3,2,1]
l[len(l):0:-2] #backward steps slicing

[1, 3, 55, 3]